@keyframes fadeIn {
	from { opacity : 0; }
	to { opacity : 1; }
}


.fade-in-page-load(@time, @delay){
	opacity : 0;

	// Animations
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;

   // Animation Timing
   animation-duration: unit(@time, s);

   // Animation Delay
   animation-delay: unit(@delay, s);
}




//Generators can be a little tough to read, but think of this as a recursive function.
.generate-fade-in-load(10, 5);

.generate-fade-in-load(@numlimit, @delaylimit, @i: 1) when (@i =< @numlimit){
   .fade-in-page-load-@{i}{
      .fade-in-page-load(@i,0);
   }
   .generate-fade-in-load(@numlimit, @delaylimit, (@i+1));
}